@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Consumables" asp-action="Dashboard">
    <h6>Consumables Management</h6>
</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Schedule" asp-action="Add">
    <h6>Schedule Management</h6>
</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Scripts" asp-action="Dashboard">
    <h6> Script Management</h6>
</a>