@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <!-- Our Doctors Section -->
    <section class="doctors text-center">
        <h2>Meet Our Doctors</h2>
        <p class="lead my-4">Our team of doctors is here to provide the best care possible. Get to know the professionals who are committed to your health and well-being.</p>

        <div class="row">
            <div class="col-md-4 my-3">
                <img src="doctor1.jpg" class="img-fluid rounded-circle mb-3" alt="Doctor 1">
                <h5>Dr. Thomas Shelby</h5>
                <p>Chief Medical Officer</p>
            </div>
            <div class="col-md-4 my-3">
                <img src="doctor2.jpg" class="img-fluid rounded-circle mb-3" alt="Doctor 2">
                <h5>Dr. Ada Thorne</h5>
                <p>Cardiologist</p>
            </div>
            <div class="col-md-4 my-3">
                <img src="doctor3.jpg" class="img-fluid rounded-circle mb-3" alt="Doctor 3">
                <h5>Dr. John Shelby</h5>
                <p>Pediatrician</p>
            </div>
        </div>
    </section>
</div>
