@model ProjectPractice.Data.Models.Domain.Script
@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<p>
    <a asp-action="DisplayAll">Display All</a>
</p>

<h4>Script</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScriptID" class="control-label"></label>
                <input asp-for="ScriptID" class="form-control" />
                <span asp-validation-for="ScriptID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <input asp-for="DoctorID" class="form-control" />
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientFileID" class="control-label"></label>
                <input asp-for="PatientFileID" class="form-control" />
                <span asp-validation-for="PatientFileID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationID" class="control-label"></label>
                <input asp-for="MedicationID" class="form-control" />
                <span asp-validation-for="MedicationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionManagerID" class="control-label"></label>
                <input asp-for="PrescriptionManagerID" class="form-control" />
                <span asp-validation-for="PrescriptionManagerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
